html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(http://p1.pichost.me/i/58/1822634.jpg);
}

.topmenu {
    text-align: center;
    padding: 10px;
    border: rgba(255, 255, 255, 0.17) 2px solid;
}

h1 {
    color: rgba(224, 224, 224, 0.66);
    text-align: center;
}
